<style>
    body {
        background-color: rgb(156, 202, 225);
    }
    footer {
        color: #031d60;
        text-align: center; 
        padding: 10px; 
    }

    footer small {
        font-size: 14px;
    }
</style>




<footer> 
    <small> Copyright 2023 Juju</small>
</body>
</html>
